.git
.gitattributes
.github
.gitignore
.editorconfig
node_modules/
vendor/
tests/
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/app/public/*
database/*.sqlite
.env
.env.*
.phpunit.result.cache
phpunit.xml
npm-debug.log
yarn-error.log
README.md
docker/
Dockerfile
.dockerignore
render.yaml
vercel.json
